* {
  color: white;  
  font-family: Roboto, Ubuntu, monospace;
}

body {
  background-color: #211d36;
}

.topnav{
  overflow: hidden;
  padding: 10px;
}

.topnav h2{
  float: left;
  display: block;
  text-align: center;
}

.topnav .pages{
  float: right;
  display: block;
  padding: 20px;
}

.topnav .pages a {
  padding: 5px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle; 
  border-radius: 8px;
  font-size: 1.1rem;
}

.card {
  padding: 20px;
  border-style: ridge;
  border-radius: 11px;
  position: relative;
  display: inline-block;
  background-color: #140d21;
}


.thumbnail:hover + .title {
  transform: translateY(-50px);
  opacity: 0.6;
}

.title {
  position: absolute;
  bottom: -50px;
  right: 0px;

  display: inline-block;
  width: 100%;
  text-align: center;

  background-color: black;
  opacity: 0.0;

  transition: all 0.3s;
}

.slideShowPrompt {
  position: absolute;
  top: 30%;
  left: 35%;
  padding: 10px;
  border: ridge white;
  display: none;
}

.desktopOption {
  padding: 10px;
  display: inline-block;
}


.mobileOption {
  padding: 10px;
  display: inline-block;
}

